<h1>Add New Figure</h1>

<form action="/figures/new" method="post">
  <label for="figure_name">Figure Name: </label>
  <input type="text" name="figure[name]" id="figure_name">
  <br>

  <h3>Related Titles</h3>
    <%Title.all.each do |title|%>
      <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>">
      <label for="title_<%=title.id%>"><%=title.name%></label><br>
    <%end%>

    <label for="new_title">Add New Title: </label>
    <input type="text" name="title[name]" id="new_title">

    <h3>Related Landmarks</h3>
      <%Landmark.all.each do |landmark|%>
        <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>">
        <label for="landmark_<%=landmark.id%>"><%=landmark.name%></label><br>
      <%end%>

      <label for="new_landmark">Add New Landmark: </label>
      <input type="text" name="landmark[name]" id="new_landmark">

    <br></br>
  <input type="submit" value="Create New Figure">
</form>
